
<div class="mx-auto mt-1" style="width:19rem;">
    <div class="card " style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">nombre : {{dato.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted text-center">id : {{dato.id}}</h6>
            {{!-- <p class="card-text">{{this.propietario}}</p> --}}
            <p class="card-text text-center">run : {{dato.propietario.run}}</p>
            <p class="card-text text-center">propietario : {{dato.propietario.nombre}}</p>


            <div class="d-grid">
                <a onclick="eliminarMascota('{{dato.nombre}}')" class="btn btn-danger eliminar">Eliminar</a>
            </div>

        </div>
    </div>
</div>
